:root {
  --main-bg-title-color: #868AA7;
  --main-btn-color:#EDA794;
  --main-light-color:#F8F9F9;
  --main-dark-color:#4F4B6D;
  --extra-bg-title-color:#A5A5CF;
  --default-white-color:#F7F9F9;
  --button-hover-color:#eb967f;
}
